{{ define "main" }}
<div style="margin-top:30px"></div>

<div class="container">
<div class="inner-container">

<!-- Header: photo + name/info -->
<div class="row" style="background-color:white">

  <div class="col-12 col-md-2" style="margin-top:30px;">
    <img src="/pic.jpg" alt="{{ .Site.Title }}" class="img-fluid profile-photo" style="max-width:175px;">
  </div>

  <div class="col-md-7 cinfo mt-2 mt-md-4">
    <div class="myname">{{ .Site.Title }}</div>
    <div class="mytitle">{{ .Site.Params.position }}</div>
    <div class="mytitle">{{ .Site.Params.school }}</div>
    <div class="description">
      Advised by <a href="{{ .Site.Params.advisorURL }}">{{ .Site.Params.advisor }}</a> |
      <a href="{{ .Site.Params.labURL }}">{{ .Site.Params.lab }}</a>
    </div>
    <div class="mt-2">
      <a href="mailto:{{ .Site.Params.email }}">{{ .Site.Params.email }}</a>
    </div>
    <div class="links mt-1">
      <a href="/{{ .Site.Params.cv }}">CV</a> &nbsp;&middot;&nbsp;
      <a href="{{ .Site.Params.scholar }}">Google Scholar</a> &nbsp;&middot;&nbsp;
      <a href="{{ .Site.Params.github }}">GitHub</a> &nbsp;&middot;&nbsp;
      <a href="{{ .Site.Params.linkedin }}">LinkedIn</a>
    </div>
  </div>

</div>

<br>

<!-- Two-column body -->
<div class="row">

  <!-- Left: bio, publications, projects -->
  <div class="col-md-8" id="about">

    <!-- Bio -->
    <div class="subsection">
      {{ (.Site.GetPage "/").Content }}
    </div>

    <!-- Publications -->
    <h4 class="highlight">Publications</h4>
    {{ range sort (where .Site.RegularPages "Section" "papers") "Date" "desc" }}
    <div class="paper-entry mb-4">
      <div class="paper-thumb">
        {{ if .Params.cover.image }}
          <img src="{{ .RelPermalink }}{{ .Params.cover.image }}" alt="thumbnail" class="paper-thumb-img">
        {{ else }}
          <div class="paper-thumb-placeholder"></div>
        {{ end }}
      </div>
      <div class="paper-details">
        <span class="ptitle">{{ .Title }}</span><br>
        {{ delimit .Params.author ", " }}<br>
        {{ with .Params.editPost }}
          {{ if .URL }}<a href="{{ .URL }}" class="venue-link"><em class="venue">{{ .Text }}</em></a>{{ else }}<em class="venue">{{ .Text }}</em>{{ end }}
        {{ end }}
        {{ with .Params.downloads }}
        <div class="btn-row mt-1">
        {{ range . }}<a href="{{ .url }}" class="pub-btn">{{ .name }}</a>{{ end }}
        </div>
        {{ end }}
      </div>
    </div>
    {{ end }}

  </div>

  <!-- Right: news -->
  <div class="col-md-4" id="news">
    <h4 class="highlight">News</h4>
    {{ range sort (where .Site.RegularPages "Section" "news") "Date" "desc" }}
    <div class="news-item mb-3">
      <span class="date">{{ .Date.Format "Jan 2006" }}</span><br>
      {{ .Description }}
    </div>
    {{ end }}
  </div>

</div>

<div style="margin-bottom:50px"></div>
</div>
</div>
{{ end }}
